doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    style
      include:uglify-css ../styles/common.css

    title Error page — Anton Lukin

  body
    p An error occurred or the link is invalid.
      br 
      | Try to go back to 
      a(href='/') home page
      | .