doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='canonical' href='https://lukin.me')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon.png')
    link(rel='icon' type='image/png' sizes='128x128' href='/images/icon-128.png')
    link(rel='icon' type='image/png' sizes='256x256' href='/images/icon-256.png')

    meta(property='og:url' content='https://lukin.me')
    meta(property='og:title' content='Anton Lukin — personal page')
    meta(property='og:description' content='Few words about myself')
    meta(name='description' content='Few words about myself')

    style
      include:uglify-css ../styles/common.css

    title Anton Lukin — personal page

  body
    p Hi there!
    p I am Anton Lukin, a software engineer currently based in 
      a(href='/live/') #{now.place}
      | .
      br
      | Currently work at 
      a(href='https://knife.media' target='_blank') knife.media
      | , helping to create awesome magazine.
      | Recently I have also been supporting projects in  
      a(href='https://formalcrypto.org' target='_blank' rel='noopener') Formal Crypto
      | .

    p In my spare time I study new technologies and develop my own projects. 
      | The most notable of them is the WordPress solutions studio 
      a(href='https://wpset.org' target='_blank' rel='noopener') wpset.org
      | , which is engaged in the creation of plugins, themes and translations.

    p I often move around the world and try to live in new places every time. 
      | Check out the history of my travels in the 
      a(href='https://lukin.blog' target='_blank' rel='noopener') photo blog
      | .

    p Follow me on 
      a(href='https://github.com/antonlukin' target='_blank' rel='noopener') Github
      | , or get in touch via 
      a(href='https://t.me/lukin' target='_blank' rel='noopener') Telegram
      | .
