@font-face {
  font-family: 'Rubik';
  src: url('/fonts/rubik-regular.woff2') format('woff2'),
       url('/fonts/rubik-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-text: #444;
  --color-accent: #0f7c8c;
  --color-hover: #d02c2c;
  --color-background: #fafafc;
  --color-light: #333;
  --color-dimmed: #777;
  --color-holder: #aaa;
  --color-place: #eee;
  --color-separator: rgba(100, 100, 100, 0.25);

  --color-area-1: #B7D8DD;
  --color-area-2: #87BEC6;
  --color-area-3: #57A3AF;
  --color-area-4: #278998;
  --color-area-5: #0E707E;
  --color-area-6: #0B5762;
  --color-area-7: #094A54;

  --font-common: Rubik, serif;
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  height: 100%;
  font: 400 16px/1.625 var(--font-common);
}

@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

html * {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;

  width: 100%;
  margin: 0 auto;
  padding: 4rem 4rem 2rem;

  color: var(--color-text);
  background-color: var(--color-background);
}

@media screen and (max-width: 767px) {
  body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: var(--color-accent);
  transition: color 0.25s;
}

  a:hover {
    color: var(--color-hover);
  }

p {
  margin: 0;
}

input {
  height: 3rem;
  padding: 0 0.5rem;

  font-size: 1.25rem;
  font-family: inherit;

  color: var(--color-text);
  border: solid 1.5px var(--color-dimmed);
  border-radius: 0.25rem;
}

  input[type="date"] {
    -webkit-appearance: none;
  }

button {
  cursor: pointer;
  font: inherit;
}

label {
  display: block;
}
  label span {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0 0.25rem;
  }

section {
  width: 100%;
}
